<component name="libraryTable">
  <library name="SPRING_JARS">
    <CLASSES>
      <root url="file://E:/setups/jar/spring-framework-3.0.1.RELEASE-A/spring-framework-3.0.1.RELEASE-A/dist" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://E:/setups/jar/spring-framework-3.0.1.RELEASE-A/spring-framework-3.0.1.RELEASE-A/dist" recursive="false" />
  </library>
</component>